<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="mb-2">Contact Info</h5>
        <address>
          <div class="email--div">
            <fa-icon [icon]="faEnvelope" class=""></fa-icon>
            <a href="mailto:doniaelhussien&#64;gmail.com" class=""
              >doniaelhussien&#64;gmail.com</a
            >
          </div>

          <div class="email--div">
            <fa-icon [icon]="faPhone" class=""></fa-icon>
            <a href="tel:+01061642356" class=""> +01061642356</a> |
            <a href="https://wa.me/01061642356" class="">WhatsApp</a>
          </div>

          <div class="email--div">
            <fa-icon [icon]="faGithub" class=""></fa-icon>
            <a target="_blank" href="https://github.com/devDoniaAlhosin">
              GitHub
            </a>
          </div>
        </address>
      </div>
      <div class="col-md-4">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Projects</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>About Me</h5>
        <p>
          A passionate web developer with a keen eye for design and a knack for
          creating seamless user experiences.
        </p>
      </div>
    </div>
    <div class="text-center mt-3 bg-dark">
      &copy; 2024 Your Name. All Rights Reserved.
    </div>
  </div>
</footer>
