.cards--container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  .products--header {
    position: relative;
    h1 {
      color: var(--text);
    }
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 75%;
      height: 5px;
      background-color: var(--secondary-color);
    }
  }
  .category--products {
    width: 100%;
    .form-select {
    }
  }
  .all--carts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    .card {
      border: 0 !important;
      width: calc((100% / 4) - 1rem);
      position: relative;
      .stock--sign {
        position: absolute;
        top: 10px;
        left: 30px;
        background-color: green;
        padding: 0.5rem 0.75rem;
        border-radius: 20px;
        h6 {
          margin-bottom: 0;
          font-size: 15px;
          color: var(--white-color);
        }
      }

      img {
        align-self: center;
        /* background-color: aqua; */
        width: 80%;
        height: 300px;
      }
      .card-body {
        background-color: #f0f1f3;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        .product--title-price {
          display: flex;
          align-items: center;
          justify-content: space-between !important;
          width: 100%;
          .card-title {
            margin-bottom: 0;
            a {
              text-decoration: none;
              font-weight: 700;
              margin-bottom: 0 !important;
              color: var(--text);
            }
          }
          .card--price {
            display: flex;
            align-items: center;
            align-items: center;
            gap: 0.1rem;
            h6 {
              span {
                font-size: 20px;
                color: var(--secondary-color);
                del {
                  color: var(--text);
                  font-size: 14px;
                }
              }
              margin-bottom: 0;
            }
            span {
              font-size: 15px;
            }
            color: var(--text);
          }
        }

        p {
          margin-bottom: 0 !important;
        }
        .cart--options {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          gap: 1rem;
          .addtocart--btn {
            width: 100%;
            padding: 0.5rem 1rem;
            color: var(--black);
            font-weight: 500;
            border-radius: 16px !important;
            border: 1px solid var(--secondary-color);
            &:hover {
              background-color: var(--hover-color);
              color: var(--white-color) !important;
            }
          }
          .quantity-container {
            width: calc((100% / 2) - 1rem);
            input {
            }
          }
        }
      }
    }
  }
}

.card .out-of-stock {
  color: red;
}

.card .in-stock {
  color: green;
}

.addtocart--btn.disabled {
  pointer-events: none;
  opacity: 0.6;
}
